.popup__close-button {
	position: absolute;
	border: none;
	width: 32px;
	height: 32px;
	top: -40px;
	right: -40px;
	background-image: url("../../../images/close-icon.svg");
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
}

.popup__close-button:hover {
	opacity: 0.6;
	cursor: pointer;
}

@media (max-width: 880px) {
	.popup__close-button {
		right: 0;
		top: calc(-25px - 16px);
		width: 20px;
		height: 20px;
	}
}
