.profile__info-holder {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	max-width: 70%;
}

@media (max-width: 880px) {
	.profile__info-holder {
		flex-direction: column;
		gap: 26px;
		width: 100%;
		max-width: 100%;
	}
}
