.element__title {
	margin: 0;
	padding: 0;
	color: black;
	max-width: calc(282px - 21px - 15px - 22px);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 24px;
	line-height: 29px;
	font-weight: 900;
	align-self: center;
}