.profile__subtitle {
	margin: 0;
	padding: 0;
	grid-row-start: 2;
	max-width: 100%;
	width: max-content;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
}

@media (max-width: 880px) {
	.profile__subtitle {
		font-size: 14px;
	}
}
