.popup-info__content {
	color: black;
	position: relative;
	padding: 34px 36px 37px 36px;
	background-color: white;
	width: 100%;
	height: 100%;
	max-width: 430px;
	max-height: 330px;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	border-radius: 10px;
}
@media (max-width: 880px) {
    .popup-info__content {
    		max-width: 282px;
    		max-height: 322px;
    		padding: 25px 22px 25px 22px;
    	}
}